{% load static %}


<!DOCTYPE html>
<html lang="ru">

{% include 'hhf/head.html' %}

<body>


<header class="reglog__header">
    <div class="container">
        <div class="header__wrapper header__wrapper--reg">
            <div class="header__left">
                <a class="header__left-logo" href="{% url 'main_game_store_view' %}">
                    <img src="{% static 'images/index/logo.png' %}" alt="Логотип">
                </a>
            </div>
        </div>
    </div>
</header>

<main class="main main--bg-decor">
    {% block content %}

    {% endblock %}
</main>


{% block js_script %}

{% endblock %}

</body>
</html>

